<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :placeholder => "Tapahtuman nimi" %>
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>
    <div class="field">
      <%= f.label :place_id %><br>
      <%= f.select :place_id, options_from_collection_for_select(@places, :id, :name_with_address) %>
    </div>
    <div class="field">

    </div>
    <div class="actions">
      <%= f.submit "Tallenna event", class: "button" %>
    </div>

<% end %>
<% @event.tasks.each do |task| %>
    <h1>task.name</h1>

<% end %>

<%= form_for(@task) do |t| %>

    <h3>Lis채채 taskeja</h3>
    <div class="field">
      <%= t.label :type_id %>
      <%= t.select :type_id, options_from_collection_for_select(@types, :id, :name) %>
    </div>
    <div class="field">
      <%= t.label :start_time %>
      <%= t.time_select :start_time, :discard_minute => true %>
    </div>
    <div class="field">
      <%= t.label :end_time %>
      <%= t.time_select :end_time, :discard_minute => true %>
    </div>
    <div>
      <%= hidden_field_tag :event_id, @event.id%>
    </div>


    <%= t.submit "Lis채채 task", class: "button" %>


<% end %>
