<%= simple_form_for @event do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :name, :placeholder => "Tapahtuman nimi" %>
    <%= f.input :date,  start_year: Date.today.year,
                end_year: Date.today.year + 1,
                order: [:day, :month, :year],
                input_html: { class: 'date-field' } %>



    <%= f.input :place_id, collection: @places, as: :select, prompt: "Valitse paikka" %>
    <div class="actions">
      <% if !@event.id %>
          <%= f.submit "Lisää taskit", class: "button" %>
      <% else %>
          <%= f.submit "Tallenna muutokset", class: "button" %>
      <% end %>

    </div>
<% end %>
