<div class="row medium-8 large-7 columns">
  <p id="notice"><%= notice %></p>

  <% if @events.empty? %>
  <h2>Ei nakkeja :--(</h2>
  <% end %>
</div>

<% @events.each do |event| %>
  <div class="row medium-8 large-7 columns content">
    <% task_types = []; event.tasks.each do |task| task_types.push(task.type.id) unless task_types.include? task.type.id end %>

    <% task_types.each do |type| %>
    <table>
      <thead>
        <tr>
          <th>Nakki:</th>
          <% event.tasks.find_all { |task|  task.type.id == type }.each do |i|  %>
            <th>Suorittaja:</th>
          <% end %>
          <th>Klo:</th>
        </tr>
      </thead>
      <tbody>
        <% (0..event.tasks[0].shifts.length-1).each do |i| %>
          <tr>
            <td>
              <%= @types.find(type).name %>
            </td>
            <% event.tasks.find_all { |t|  t.type.id == type }.each do |task|  %>
              <td>
                <%= task.id %>
                <%= task.shifts[i] %>
              </td>
            <% end %>
            <td>
              <%= event.tasks[0].shifts[i].hour %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

  </div>
<% end %>

<br>
<%= link_to new_event_path, class: "ball-add" do %>
  <%= fa_icon "plus 2x" %>
<% end %>
