<p id="notice"><%= notice %></p>

<% @events.each do |event| %>
  <div class="row medium-8 large-7 columns content">
    <%= event.date %><br>
    <h2><%=link_to event.name, event_path(event) %>
      <%= link_to(@places[event.place_id]) do %>
        <small>@<%= @places[event.place_id].name %></small></h2>
      <% end %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
<% end %>
<br>
<%= link_to new_event_path, class: "ball-add" do %>
  <%= fa_icon "plus 2x" %>
<% end %>
