<div class="row medium-8 large-7 columns content">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @event.name %>
  </h1>

  <p>
    <strong>Aika:</strong>
    <%= @event.date %>
  </p>

  <p>
    <strong>Paikka:</strong>
    <%= @event.place.name %>
  </p>

  <p>
    <strong>Vastuuhenkilö:</strong>
    <%= @event.user_id %>
  </p>



  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
</div>
